*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(1770519.jpg);
    height: 350vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: left;
    list-style: none;
    margin-top: 500px;
    margin-left: 608px;
}

.main-nav li
{
    display: inline-block;

}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.main-nav li.active a
{
    border: 1px solid white;

}

.main-nav li a:hover
{
    border: 1px solid white;
}

.menu-nav{
    float: left;
    list-style: none;
    margin-top: 850px;
    margin-left: -850px;
}

.menu-nav2{
    float: left;
    list-style: none;
    margin-top: 1730px;
    margin-left: -850px;
}

.menu-nav li{
    display: block;
}

.menu-nav2 li{
    display: block;
}

.menu-nav li a{
    color:white;
    text-decoration: none;
    padding: 5px 20;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.menu-nav2 li a{
    color:white;
    text-decoration: none;
    padding: 5px 20;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.menu-nav li.active a{
    border: 1px solid white;
}

.menu-nav2 li.active a{
    border: 1px solid white;
}

.title
{
    position: absolute;
    width: 120px;
    margin-left: 462;
    margin-top: 80;
    font-size: 100;
}

h1
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 110px;
}

.subtitle
{
    position: absolute;
    width: 120px;
    margin-left: 685;
    margin-top: 270;
    font-size: 15;
}

h2
{
    color: white;
    text-transform: lowercase;
    text-align: center;
    margin-top: 120px;
}

.PONG
{
    position: absolute;
    width: 500px;
    margin-left: 490;
    margin-top: 700;
    font-size: 40;
}

h3
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}

.ruleSet
{
    /*position: absolute;*/
    float:left;
    width: 120px;
    margin-left: 650;
    margin-top: 1500;
    font-size: 50;
}

h4
{
    position: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: -320;
    margin-left: -5;
}

.creators{
    position: absolute;
    color: white;
    font-family: serif;
    font-style: italic;
    margin-top: 180;
    margin-left: 615;
    font-size: 20px;
}

.rulesSetPlayer1{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 20px;
    margin-top: 1000;
    margin-left: 160;
}

.controlsW{
    position: absolute;
    color: orange;
    font-family: monospace;
    font-size: 30px;
    margin-top: 1050;
    margin-left: 130;
}

.controlsWMeaning{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 15px;
    margin-top: 1060;
    margin-left: 170;
}

.controlsS{
    position: absolute;
    color: orange;
    font-family: monospace;
    font-size: 30px;
    margin-top: 1100;
    margin-left: 130;
}

.controlsSMeaning{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 15px;
    margin-top: 1110;
    margin-left: 170;
}

.rulesSetPlayer2{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 20px;
    margin-top: 1000;
    margin-left: 1200;
}

.controlsO{
    position: absolute;
    color: orange;
    font-family: monospace;
    font-size: 30px;
    margin-top: 1050;
    margin-left: 1350;
}

.controlsOMeaning{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 15px;
    margin-top: 1060;
    margin-left: 1270;
}

.controlsL{
    position: absolute;
    color: orange;
    font-family: monospace;
    font-size: 30px;
    margin-top: 1100;
    margin-left: 1350;
}

.controlsLMeaning{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 15px;
    margin-top: 1110;
    margin-left: 1250;
}

.otherControls{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 20px;
    margin-top: 1200;
    margin-left: 160;
}

.controlsE{
    position: absolute;
    color: orange;
    font-family: monospace;
    font-size: 30px;
    margin-top: 1250;
    margin-left: 130;
}

.controlsEMeaning{
    position: absolute;
    color: white;
    font-family: serif;
    font-size: 15px;
    margin-top: 1260;
    margin-left: 170;
}

.aboutquote{
    position: absolute;
    color: black;
    font-family: serif;
    font-size: 40px;
    font-style: italic;
    margin-top: 1900;
    margin-left: 160;
}

.abouttext{
    position: absolute;
    color:white;
    font-family: serif;
    font-size: 20px;
    margin-top: 2000;
    margin-left: 535;
}

.abouttext2{
    position: absolute;
    color:white;
    font-family: serif;
    font-size: 20px;
    margin-top: 2040;
    margin-left: 660;
}

.abouttext3{
    position: absolute;
    color:white;
    font-family: serif;
    font-size: 10px;
    margin-top: 2080;
    margin-left: 683;
}