*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(1770519.jpg);
    height: 350vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: left;
    list-style: none;
    margin-top: 500px;
    margin-left: 608px;
}

.main-nav li
{
    display: inline-block;

}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.main-nav li.active a
{
    border: 1px solid white;

}

.main-nav li a:hover
{
    border: 1px solid white;
}

.title
{
    position: absolute;
    width: 120px;
    margin-left: 462;
    margin-top: 70;
    font-size: 100;
}

h1
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 110px;
}

.subtitle
{
    position: absolute;
    width: 120px;
    margin-left: 685;
    margin-top: 270;
    font-size: 15;
}

h2
{
    color: white;
    text-transform: lowercase;
    text-align: center;
    margin-top: 120px;
}

.PONG
{
    position: absolute;
    width: 500px;
    margin-left: 490;
    margin-top: 700;
    font-size: 40;
}

h3
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}

.ruleSet
{
    position: absolute;
    width: 120px;
    margin-left: 650;
    margin-top: 1500;
    font-size: 50;
}

h4
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}

h5
{
    position: center;
    text-align: center;
    text-transform: unset;
    width: 500px;
    font-size: 20;
    margin-left: -165;
}

h6
{
    color: white;
    position: center;
    text-align: center;
    width: 500px;
    font-size: 15;
    margin-left: -165;
    margin-top: -380;

}

p{
    position: absolute;
    color: white;
    font-family: serif;
    font-style: italic;
    margin-top: 180;
    margin-left: 615;
    font-size: 20px;
}



